<h1>포스트 수정하기</h1>
<%= form_tag(post_path(@post.id), method: "put") do %> <!--form_tag가 피카츄면 form_for는 라이츄-->
    이미지 주소 : <%= text_field_tag(:image_url, @post.image_url) %><br>
    글 : <%= text_field_tag(:story, @post.story) %><br>
    <%= submit_tag "수정하기" %>
<%end%>
