<h1>Real Insta</h1>
<% @posts.each do |post|%>
    사진 : <img height = "100" width = "100" src = "<%= post.image_url%>"><%= link_to "[보기]", "/posts/#{post.id}"%><br>
<% end%>
<%= link_to "새 포스트", new_post_path %>