<h1>새 포스트 만들기</h1>
<%= form_tag(posts_path, method: "post") do %> <!--form_tag가 피카츄면 form_for는 라이츄-->
    이미지 주소 : <%= text_field_tag :image_url %><br>
    글 : <%= text_field_tag :story %><br>
    <%= submit_tag "만들기" %>
<%end%>
