<form action = "/posts/create_tag">
    <input type = "text" name = "tag[name1]">
    <input type = "text" name = "tag[name2]">
    <input type = "text" name = "tag[name3]">
    <input type = "text" name = "tag[name4]">
    <input type = "submit" value = "태그저장">
</form>